
@import url('https://fonts.googleapis.com/css2?family=Pathway+Extreme:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');


body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 1.4;
    /* font-family:Verdana, Geneva, Tahoma, sans-serif; */
    font-family:'Pathway Extreme';
}

:root {
    --hoofd-kleur: #112A46;
    --accent-kleur: #9EB700;
}


.sub-nav {
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    position: relative;
    height: 70px;
    z-index: 9999;
}


.sub-nav ul {
    display: flex;

    @media (max-width: 1149px) {
        position: absolute;
        top: 70px;
        left: 0px;
        right: 0;
        flex-direction: column;
        text-align: center;
        background: rgb(208, 205, 205);
        overflow: hidden;
    }
}


.sub-nav ul li{
    list-style: none;
        @media (max-width: 1149px) {
            padding: 20px;
    }
}

.sub-nav ul li a {
    text-decoration: none;
    color: black;
}

.sub-nav ul li a:hover {
            @media (max-width: 1149px) {
              text-decoration: none;
              color: var(--accent-kleur)
    }

}


.menu-icon i {
    font-size: 30px;
}

.menu-icon {
    display: none;

            @media (max-width: 1149px) {
               display: block;
    }
}

#menuList {
    transition: all 0.5s;

        @media (min-width: 1149px) {
               gap: 50px;
               margin-top: 0px;
    }
}


#menuList li:hover {
        @media (min-width: 1149px) {
               gap: 50px;
               margin-top: 0px;
               color: var(--accent-kleur);
               text-decoration: underline;
    }
}




.main-nav {
    background-color: var(--hoofd-kleur);
    height: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}


.main-nav a {
    color: white;
    text-decoration: none;
    font-size: 10px;
    
}

.nav-links {
    display: flex;
    gap: 10px;
    margin-left: 10px;
}


.nav-rechts {
    display: flex;
    gap: 10px;
    margin-right: 10px;
}

.zoekicon:hover {
    scale: 1.2;
}

.nl-vlag:hover {
    scale: 1.2;
}

.uk-vlag:hover {
    scale: 1.2;
}


h1 {
    text-align: center;
    font-size: 22px;       
    margin-bottom: 60px;
    margin-right: px;

    @media (min-width: 810px) {
        font-size: 45px;
    }

}


.banner {
  position: relative;
  width: 100%;
}

.banner-img {
  width: 100%;
  height: auto;
  display: block;
  filter: brightness(40%); 
  /* margin-top: 300px; */

      @media (min-width: 810px) {
        font-size: 45px;
        height: auto;
        max-height: 430px;
        object-fit: cover;
    }
}


.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}


.button-wat-is-een-ad {
    background-color: var(--accent-kleur);
    color: #ffffff;
    border: none;
    border-radius: 20px;
    text-decoration: none;
    font-style: 16pt;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 8px; 
    padding-right: 30px; 
    padding-bottom: 8px; 
    padding-left: 30px;    

          @media (min-width: 810px) {
            padding-top: 10px; 
            padding-right: 40px; 
            padding-bottom: 10px; 
            padding-left: 40px;  
    }
  
}


.button-wat-is-een-ad:hover {
    background-color:#c4d44c
}

p {
    margin: 25px 50px 25px 50px; /*top left bottom right*/

          @media (min-width: 810px) {
             margin: 35px 110px 35px 110px;
    }

          @media (min-width: 950px) {
             margin: 40px 180px 40px 180px;
    }

          @media (min-width: 1100px) {
             margin: 40px 230px 40px 230px;
    }

            @media (min-width: 1350px) {
             margin: 40px 260px 40px 260px;
    }

            @media (min-width: 1500px) {
             margin: 40px 400px 40px 400px;
    }
}
 
#vier-knoppen a { 
    display: flex;
    justify-content: center;
    color: white;
    text-decoration: none;
    margin-left: 45px;
    margin-right: 45px;
    border-radius: 20px;
    padding: 10px 10px 10px 10px; /*top left bottom right*/

              @media (min-width: 810px) {
                 border-radius: 30px;
                 padding: 10px 45px 10px 45px;
                 margin-left: 0px;
                 margin-right: 0px;
    }

              @media (min-width: 1000px) {
                 padding: 10px 80px 10px 80px;     
    }

              @media (min-width: 1500px) {
                 padding: 10px 100px 10px 100px;  
    }
}

#vier-knoppen {
          @media (min-width: 810px) {
           display: flex;
           gap: 30px;
           margin-top: 35px;
           justify-content: center;
    }

                 @media (min-width: 1500px) {
                 margin-top: 50px;
                 gap: 70px; 
    }
}


.button-orienteren-op-een-ad-opleiding {
    background-color: var(--hoofd-kleur);
    font-size: 15px;
    margin-bottom: 15px;
}

.button-orienteren-op-een-ad-opleiding:hover {
      background-color: #1f4e82
}

.button-studeren-in-een-ad-opleiding {
    background-color: var(--accent-kleur);
    font-size: 15px;
    margin-bottom: 15px;
}

.button-studeren-in-een-ad-opleiding:hover {
    background-color:#c4d44c
}

.button-werken-met-ad-talent {
    background-color: var(--hoofd-kleur);
    font-size: 15px;
    margin-bottom: 15px;
}

.button-button-werken-met-ad-talent:hover {
      background-color: #1f4e82
}

.button-ontwikkelen-van-ad-onderwijs {
    background-color: var(--accent-kleur);
    font-size: 15px;
}

.button-ontwikkelen-van-ad-onderwijs :hover {
    background-color:#c4d44c
}



h2 {
    margin: 25px 50px 25px 50px;
}

.datums li {
    list-style: none;
}

.datums p {
    margin-bottom: 0px;
}

.data {
    margin-left: 10px;
    margin-bottom: 20px;
}

.vergaderen-img {
  width: 100%;

      @media (min-width: 810px) {
        font-size: 45px;
        height: auto;
        max-height: 430px;
        object-fit: cover;
    }
}

.locatie a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.locatie a:hover{
    color: var(--accent-kleur);
    text-decoration: underline;
}


.artikel-1 {
    border: 6px solid var(--accent-kleur);
    border-radius: 25px;
    margin-left: 20px;
    margin-right: 20px;
}

.artikel-1 p {
    /* text-align: center; */
    margin-bottom: 50px;
}

.button-leesmeer-1 {
    color: white;
    background-color: var(--hoofd-kleur);
    padding: 10px 30px 10px 30px; 
    border-radius: 40px;
    margin-left: 75px;
    text-decoration: none;
    position: relative;
    top: -25px;
}

.sub-logo2 {
    margin-left: 200px;
}


.artikel-2 {
    border: 6px solid var(--hoofd-kleur);
    border-radius: 25px;
    margin-left: 20px;
    margin-right: 20px;
}

.artikel-2 p {
    /* text-align: center; */
    margin-bottom: 50px;
}

.button-leesmeer-2 {
    color: white;
    background-color: var(--accent-kleur);
    padding: 10px 30px 10px 30px; 
    border-radius: 40px;
    margin-left: 75px;
    text-decoration: none;
    position: relative;
    top: -25px;
}

.artikel-3 {
    border: 6px solid var(--accent-kleur);
    border-radius: 25px;
    margin-left: 20px;
    margin-right: 20px;
}

.artikel-3 p {
    /* text-align: center; */
    margin-bottom: 50px;
}

.button-leesmeer-3 {
    color: white;
    background-color: var(--hoofd-kleur);
    padding: 10px 30px 10px 30px; 
    border-radius: 40px;
    margin-left: 75px;
    text-decoration: none;
    position: relative;
    top: -25px
}

.sub-logo4 {
    margin-left: 200px;
}


.artikel-4 {
    border: 6px solid var(--hoofd-kleur);
    border-radius: 25px;
    margin-left: 20px;
    margin-right: 20px;
    position: relative;
    top: -25px
}

.artikel-4 p {
    /* text-align: center; */
    margin-bottom: 50px;
}

.button-leesmeer-4 {
    color: white;
    background-color: var(--accent-kleur);
    padding: 10px 30px 10px 30px; 
    border-radius: 40px;
    margin-left: 75px;
    text-decoration: none;
     position: relative;
    top: -25px
}


.deelnemende-hogescholen {
    padding: 64px 0;
}

.section-titel {
    text-align: center;
    margin-bottom: 1.5rem;
}

.logo-slider {
    overflow: hidden;
}

.overlfow {
    display: flex;
    padding: .5rem 1rem;
    overflow: hidden;
}

.logos-wrapper {
    display: flex;
    align-items: center;
    justify-content:  space-around;
    animation: logoLoop 40s linear infinite;
}

.logo-item {
    margin-left: 1rem;
}

@keyframes logoLoop {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
    }
}




svg {
    circle {
        fill: aqua;
    }
}


.footer-info {
        background-color: var(--hoofd-kleur);
        color: white;
        height: 400px;
        margin-top: 30px;
}

.footer-info img {
   margin-top: 20px;
   margin-left: 40px;
}

.footer-info h3 {
   margin-left: 50px;
   font-size: 17px;
}

.footer-info ul li {
   margin-left: 10px;
   list-style: none;
   font-size: 14px;
}

.footer-info a {
    color: white;
    text-decoration: none;
}

.footer-info a:hover {
    color: var(--accent-kleur);
    text-decoration: underline;
}

.mail-link {
    margin-left: 50px;
    font-size: 14px;
    color:white;
    text-decoration: none;
}

.mail-link:hover{
    margin-left: 50px;
    font-size: 14px;
    color: var(--accent-kleur);
    text-decoration: underline;
}